input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $white inset !important;
  -webkit-text-fill-color: $section-title !important;
}

body {
  background-color: $default-bg;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

.cursor-pointer {
  cursor: pointer;
}

.el-dialog__body {
  img {
    width: 100%;
  }
}
