@import url('https://db.onlinewebfonts.com/c/3ddd0e3d1a076e112b27d8d9b7e20200?family=Basis+Grotesque+Pro');

@font-face {
  font-family: 'Basis Grotesque Pro';
  src: url('https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.eot');
  src: url('https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.eot?#iefix') format('embedded-opentype'),
  url('https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.woff2') format('woff2'),
  url('https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.woff') format('woff'),
  url('https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.ttf') format('truetype'),
  url('https://db.onlinewebfonts.com/t/3ddd0e3d1a076e112b27d8d9b7e20200.svg#Basis Grotesque Pro') format('svg');
}
