$white: #fff;
$black: #000;
$blue: #3249ff;
$default: #38405b;
$default-border: #d7dce5;
$secondary-border: #D7DCE5;
$orange: #fc660c;
$orange-hover: #b23c00;
$orange-active: #b33c00;
$red: #cc2d14;
$error-border: #eb6854;
$error-text: #cc2d14;
$secondary: #6a6d8f;
$highlight: #fc660c;
$pink-bg: #f5e0ff;
$section-title: #1a1d29;
$header-text-list: #0f1014;
$refferal-bg: #dcf5f3;
$colabs-bg: #aaa7cc;
$active-dot: #84b81d;
$hover-row-border: #ffb580;
$hover-row-bg: #fffaf7;
$hover-row-bg-top: #fcf0e8;
$dot_bg: #ff9844;
$mint-bg: #dcf5f3;
$mint-text: #25b8ae;
$info-bg: #e0ecff;
$info-text: #4979cc;
$primary-bg: #f5e0ff;
$primary-text: #161e2d;
$danger-bg: #ffe0e7;
$danger-text: #d64d69;
$warning-bg: #ffefc2;
$warning-text: #a37800;
$success-bg: #ddfadc;
$success-text: #3ea33b;
$default-bg: #f5f5fd;
$default-badge-border: #D7DCE5;
$rounded-bg: #ffe1cc;
$transparent-active-bg: #f5f5fd;
$transparent-active-text: #38405b;
$mint-hover-bg: #87e0da;
$info-hover-bg: #8dafeb;
$primary-hover-bg: #c899e0;
$danger-hover-bg: #eb96a7;
$warning-hover-bg: #e0b43a;
$success-hover-bg: #83d681;
$dark: #0d121c;
$transparent-hover-border: #D7DCE5;

$default_font: 'Basis Grotesque Pro', sans-serif;
