@tailwind base;
@tailwind components;
@tailwind utilities;

.swv-button.swv-button-trigger {
    justify-content: center;
    box-sizing: border-box;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #dadce0;
    max-width: 400px;
    min-width: 200px;
    width: 392px;
    border-radius: 20px;
    color: #3c4043 !important;
    cursor: pointer;
    font-family: 'Google Sans', arial, sans-serif;
    font-size: 14px !important;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 8px 12px;
    position: relative;
    text-align: center;
    font-weight: 400;
}